fastapi
sqlalchemy
psycopg  # asyncpg
sqlmodel
pydantic
python-dotenv
dependency_injector
alembic
autologging
python-jose
gunicorn
uvicorn
python-multipart

sqlalchemy-filters
coloredlogs
httpx
coverage
pytest

ptvsd
pydevd

kubernetes

sqladmin[full]
fastapi-authz

starlette-admin
fastapi-keycloak
